@use '@mucsi96/angular-material-theme/styles' as bt;
@import 'maplibre-gl/dist/maplibre-gl.css';

html,
body {
  height: 100%;
}

html {
  @include bt.theme();
}

body {
  margin: 0;
}

.page-loading {
  display: flex;
  justify-content: center;
  margin: 150px 0;
}
