html,
body {
  height: 100%;
}

html {
  --mat-app-background-color: hsl(221, 39%, 11%);
  --mat-app-text-color: hsl(218, 11%, 65%);
  --mat-sys-primary: hsl(220, 89%, 53%);
  --mat-sys-on-primary: white;
  --mat-sys-corner-full: 0.5rem;
  --mat-sys-surface: hsl(215, 28%, 17%);
  --mat-sys-surface-container: hsl(217, 19%, 27%);
  --mat-card-elevated-container-color: var(--mat-sys-surface);
  --mat-sys-on-surface: hsl(220, 13%, 91%);
  --mat-sys-outline: transparent;
  --mat-sys-corner-extra-large: var(--mat-sys-corner-full);
  --mat-sys-corner-large: var(--mat-sys-corner-full);
  --mat-sys-corner-extra-small: var(--mat-sys-corner-full);
  --mat-sys-surface-variant: var(--mat-sys-surface-container);
  --mat-sys-on-primary-container: var(--mat-sys-on-primary);
  --mat-sys-primary-container: var(--mat-sys-primary);
  --mat-sys-display-large-weight: 700;
  --mat-sys-label-large-size: 1rem;
  --mat-dialog-container-max-width: 100vw;

  --mat-fab-state-layer-color: hsl(221, 79%, 48%);
  --mat-fab-hover-state-layer-opacity: 1;
  --mat-button-filled-state-layer-color: var(--mat-fab-state-layer-color);
  --mat-button-filled-hover-state-layer-opacity: var(
    --mat-fab-hover-state-layer-opacity
  );

  --mat-progress-spinner-active-indicator-color: var(--mat-sys-on-primary);

  --mat-form-field-filled-caret-color: var(--mat-sys-on-primary);
  --mat-form-field-filled-active-indicator-height: 0;
  --mat-form-field-filled-focus-active-indicator-height: 0;
  --mat-form-field-filled-focus-label-text-color: var(--mat-sys-on-primary);
  --mat-form-field-hover-state-layer-opacity: 0;

  --mat-menu-item-label-text-weight: 400;
  --mat-menu-item-leading-spacing: 12px;
  --mat-menu-item-trailing-spacing: 12px;
  --mat-menu-item-label-text-size: 0.875rem;

  --mat-chip-label-text-weight: 400;
}

body {
  margin: 0;
  background-color: var(--mat-app-background-color);
}

.mat-typography {
  font: unset;
  letter-spacing: unset;
  font-family: system-ui;
  color: var(--mat-app-text-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--mat-sys-on-primary);
    font-size: unset;
    font-weight: unset;
    margin: unset;
  }
}

.mdc-text-field--filled {
  border: 1px solid hsl(215, 14%, 34%);
  border-radius: 0.5rem !important;
}

mat-form-field:not(.mat-mdc-form-field-type-mat-select):not(.mat-form-field-appearance-outline) .mdc-text-field--focused {
  border: 1px solid hsl(218, 93%, 61%);
  box-shadow: hsl(218, 93%, 61%) 0 0 0 1px;
}

mat-snack-bar-container {
  &.success {
    --mat-snack-bar-container-color: hsl(145, 78%, 68%);
    --mat-snack-bar-supporting-text-color: hsl(145, 100%, 14%);
  }

  &.error {
    --mat-snack-bar-container-color: hsl(0, 96%, 77%);
    --mat-snack-bar-supporting-text-color: hsl(0, 74%, 16%);
  }
}

[mat-flat-button]:focus-visible {
  outline: 1px solid var(--mat-sys-on-primary);
  outline-offset: 2px;
}
