:host {
  display: block;
}

.podium-map-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.podium-map {
  height: 200px;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
