@let today = todayWeight.value();
@let diffVal = diff();
@let chart = chartOptions();
@if (todayWeight.isLoading() || periodMeasurements.isLoading()) {
<mat-spinner class="page-loading" />
} @else if (chart) {
<section>
  <div class="chart-wrapper">
    <div
      role="img"
      class="chart"
      echarts
      [options]="chart"
      [initOpts]="initOpts"
    ></div>
  </div>
  @if (today) {
  <article>
    <h2>Weight</h2>
    <p class="value">
      {{ today.weight | measurementWithUnit : "kg" }}
    </p>
    <p [class]="'diff-value ' + (diffVal?.weight | percentageDiffColor : 'inverse')">
      {{ diffVal?.weight | percentageDiff }}
    </p>
  </article>
  <article>
    <h2>Body fat</h2>
    <p class="value">
      {{ today.fatMassWeight | measurementWithUnit : "kg" }}
    </p>
    <p [class]="'diff-value ' + (diffVal?.fatMassWeight | percentageDiffColor : 'inverse')">
      {{ diffVal?.fatMassWeight | percentageDiff }}
    </p>
  </article>
  <article>
    <h2>Fat ratio</h2>
    <p class="value">
      {{ today.fatRatio | measurementWithUnit : "%" }}
    </p>
    <p [class]="'diff-value ' + (diffVal?.fatRatio | percentageDiffColor : 'inverse')">
      {{ diffVal?.fatRatio | percentageDiff }}
    </p>
  </article>
  }
</section>
}
