@let today = todayWeight.value();
@let diffVal = diff();
@let chart = chartOptions();
@if (today && chart) {
<section>
  <div class="chart-wrapper">
    <div
      role="img"
      class="chart"
      echarts
      [options]="chart"
      [initOpts]="initOpts"
    ></div>
  </div>
  <article>
    <h2 app-text>Weight</h2>
    <p app-heading large>
      {{ today.weight | measurementWithUnit : "kg" }}
    </p>
    <p
      app-text
      [app-text-type]="diffVal?.weight | percentageDiffColor : 'inverse'"
    >
      {{ diffVal?.weight | percentageDiff }}
    </p>
  </article>
  <article>
    <h2 app-text>Body fat</h2>
    <p app-heading large>
      {{ today.fatMassWeight | measurementWithUnit : "kg" }}
    </p>
    <p
      app-text
      [app-text-type]="diffVal?.fatMassWeight | percentageDiffColor : 'inverse'"
    >
      {{ diffVal?.fatMassWeight | percentageDiff }}
    </p>
  </article>
  <article>
    <h2 app-text>Fat ratio</h2>
    <p app-heading large>
      {{ today.fatRatio | measurementWithUnit : "%" }}
    </p>
    <p
      app-text
      [app-text-type]="diffVal?.fatRatio | percentageDiffColor : 'inverse'"
    >
      {{ diffVal?.fatRatio | percentageDiff }}
    </p>
  </article>
</section>
}
