<header app-header>
  <nav>
    <a app-header-menu routerLink="/"><h1 app-heading>W6</h1></a>
    @if (isAuthenticated()) {
    <a
      app-header-menu
      routerLink=""
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Week</a
    >
    <a
      app-header-menu
      routerLink="month"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Month</a
    >
    <a
      app-header-menu
      routerLink="year"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Year</a
    >
    <a
      app-header-menu
      routerLink="all-time"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >All time</a
    >
    <app-user-badge></app-user-badge>
    }
  </nav>
</header>
<main app-main>
  <section class="main">
    <router-outlet></router-outlet>
  </section>
</main>
<ul app-notifications></ul>
