<mat-toolbar class="header">
  <nav>
    <a mat-button routerLink="">Training Log Pro</a>
    @if (isAuthenticated()) {
    <a
      mat-button
      routerLink=""
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Week</a
    >
    <a
      mat-button
      routerLink="month"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Month</a
    >
    <a
      mat-button
      routerLink="year"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Year</a
    >
    <a
      mat-button
      routerLink="all-time"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >All time</a
    >
    <div class="header-right">
      <app-header></app-header>
    </div>
    }
  </nav>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
