<h2 mat-dialog-title>{{ book.title }}</h2>
<mat-dialog-content class="dialog-content">
  <p class="author">{{ book.author }}</p>
  <bt-donut-slider
    class="slider"
    [(value)]="page"
    [min]="book.startingPage"
    [max]="book.totalPages"
    [valuePerTurn]="250"
    label="Page"
    [unit]="pageUnit"
  />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    [disabled]="!canSave()"
    (click)="save()"
  >
    Save {{ page() }}
  </button>
</mat-dialog-actions>
