.avatar {
  display: inline-flex;
  user-select: none;
  background-color: hsl(215, 14%, 34%);
  border-radius: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  color: white;
  font-size: 18px;
  border: unset;
}

.profile-menu {
  margin: 10px;
}

.profile-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: var(--mat-menu-item-leading-spacing);
  padding-right: var(--mat-menu-item-trailing-spacing);
  min-height: 36px;
  color: var(--mat-sys-on-surface);
}
