@let value = latest();
@let chart = chartOptions();
@let todayDiffVal = todayDiff();
@let periodDiffVal = periodDiff();
@if (todayFitness.isLoading() || periodFitness.isLoading()) {
<mat-spinner class="page-loading" />
} @else if (value && chart) {
<section>
  <div class="chart-wrapper">
    <div
      role="img"
      class="chart"
      echarts
      [options]="chart"
      [initOpts]="initOpts"
    ></div>
  </div>
  <article>
    <h2>Fitness</h2>
    <p class="value">
      <span>{{ value.fitness | number : "1.0-0" }}</span>
      @if (todayDiffVal) {
      <span [class]="'today-diff ' + (todayDiffVal | diffColor)">
        {{ todayDiffVal | pointsDiff }}
      </span>
      }
    </p>
    <p class="period-value">
      {{ periodDiffVal | pointsDiff }}
    </p>
  </article>
</section>
}
